In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy import stats

In [2]:
ipldata = pd.read_csv('IPL2023details.csv')
bat1 = pd.read_csv('batting1.csv')
bat2 = pd.read_csv('batting2.csv')
bowl1 = pd.read_csv('Bowling1.csv')
bowl2 = pd.read_csv('Bowling2.csv')

In [3]:
iplbat1 = ipldata[['First_innings','counter']]
iplbat2 = ipldata[['second_innings','counter']]

In [4]:
dfbat1 = pd.merge(bat1,ipldata[['First_innings','counter']],how = 'inner',on = ['counter'])
dfbat2 = pd.merge(bat2,ipldata[['second_innings','counter']],how = 'inner',on = ['counter'])
dfbowl1 = pd.merge(bowl1,ipldata[['second_innings','counter']],how = 'inner',on = ['counter'])
dfbowl2 = pd.merge(bowl2,ipldata[['First_innings','counter']],how = 'inner',on = ['counter'])
dfbat1.rename(columns={'First_innings':'bat_team'},inplace=True)
dfbat2.rename(columns={'second_innings':'bat_team'},inplace=True)
dfbowl2.rename(columns={'First_innings':'bowl_team'},inplace=True)
dfbowl1.rename(columns={'second_innings':'bowl_team'},inplace=True)
bat = pd.concat([dfbat1,dfbat2],axis=0)
bowl = pd.concat([dfbowl1,dfbowl2],axis=0)
dfbat = pd.merge(bat,ipldata,how = 'inner',on = ['counter'])
dfbowl = pd.merge(bowl,ipldata,how = 'inner',on = ['counter'])

In [5]:
dfbat.to_csv('batipldata.csv',header=dfbat.columns, index=False, encoding='utf-8' )
dfbat.to_csv('bowipldata.csv',header=dfbat.columns, index=False, encoding='utf-8' )

In [6]:
dfbat.columns

Index(['batting', 'out', 'runs', 'balls', 'mins', 'fours', 'sixs', 'SR',
       'counter', 'bat_team', 'Date', 'Season', 'Toss_team', 'First_innings',
       'second_innings', 'bat_field', 'Team1_Won', 'Team2_lost',
       'Player Of The Match', 'Stadium', 'Umpires1', 'Umpires2', 'TV_Umpire',
       'Res_Umpire', 'Match_Ref', 'ImpactPlayers1', 'Replace1Player1',
       'ImpactPlayers2', 'ReplacePlayer2', 'impactTeam1', 'impactTeam2',
       'T20_debut_1', 'T20_debut_2'],
      dtype='object')

In [7]:
dfbowl.columns

Index(['BOWLING', 'over', 'Mins', 'Runs', 'Wicket', 'Economy', 'Zeros',
       'fours', 'sixs', 'Wide', 'Noball', 'counter', 'bowl_team', 'Date',
       'Season', 'Toss_team', 'First_innings', 'second_innings', 'bat_field',
       'Team1_Won', 'Team2_lost', 'Player Of The Match', 'Stadium', 'Umpires1',
       'Umpires2', 'TV_Umpire', 'Res_Umpire', 'Match_Ref', 'ImpactPlayers1',
       'Replace1Player1', 'ImpactPlayers2', 'ReplacePlayer2', 'impactTeam1',
       'impactTeam2', 'T20_debut_1', 'T20_debut_2'],
      dtype='object')

In [8]:
dfbat

,batting,out,runs,balls,mins,fours,sixs,SR,counter,bat_team,...,Res_Umpire,Match_Ref,ImpactPlayers1,Replace1Player1,ImpactPlayers2,ReplacePlayer2,impactTeam1,impactTeam2,T20_debut_1,T20_debut_2
0,Devon Conway,b Mohammed Shami,1,6,0,0,0,16.66,1,Chennai Super Kings,...,Abhijit Bengeri,Javagal Srinath,Sai Sudharsan,Kane Williamson,Tushar Deshpande,Ambati Rayudu,Gujarat Titans,Chennai Super Kings,None,None
1,Ruturaj Gaikwad,c Shubman Gill b Joseph,92,50,0,4,9,184.00,1,Chennai Super Kings,...,Abhijit Bengeri,Javagal Srinath,Sai Sudharsan,Kane Williamson,Tushar Deshpande,Ambati Rayudu,Gujarat Titans,Chennai Super Kings,None,None
2,Moeen Ali,c †Saha b Rashid Khan,23,17,0,4,1,135.29,1,Chennai Super Kings,...,Abhijit Bengeri,Javagal Srinath,Sai Sudharsan,Kane Williamson,Tushar Deshpande,Ambati Rayudu,Gujarat Titans,Chennai Super Kings,None,None
3,Ben Stokes,c †Saha b Rashid Khan,7,6,0,1,0,116.66,1,Chennai Super Kings,...,Abhijit Bengeri,Javagal Srinath,Sai Sudharsan,Kane Williamson,Tushar Deshpande,Ambati Rayudu,Gujarat Titans,Chennai Super Kings,None,None
4,Ambati Rayudu,b Little,12,12,0,0,1,100.00,1,Chennai Super Kings,...,Abhijit Bengeri,Javagal Srinath,Sai Sudharsan,Kane Williamson,Tushar Deshpande,Ambati Rayudu,Gujarat Titans,Chennai Super Kings,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,Rinku Singh,not out,53,33,62,3,4,160.60,33,Kolkata Knight Riders,...,Abhijit Bengeri,Shakti Singh,Akash Singh,Ambati Rayudu,Venkatesh Iyer,Suyash Sharma,Chennai Super Kings,Kolkata Knight Riders,None,None
544,Andre Russell,c Dube b Pathirana,9,6,14,0,1,150.00,33,Kolkata Knight Riders,...,Abhijit Bengeri,Shakti Singh,Akash Singh,Ambati Rayudu,Venkatesh Iyer,Suyash Sharma,Chennai Super Kings,Kolkata Knight Riders,None,None
545,David Wiese,lbw b Deshpande,1,2,6,0,0,50.00,33,Kolkata Knight Riders,...,Abhijit Bengeri,Shakti Singh,Akash Singh,Ambati Rayudu,Venkatesh Iyer,Suyash Sharma,Chennai Super Kings,Kolkata Knight Riders,None,None
546,Umesh Yadav,c Conway b Theekshana,4,4,8,0,0,100.00,33,Kolkata Knight Riders,...,Abhijit Bengeri,Shakti Singh,Akash Singh,Ambati Rayudu,Venkatesh Iyer,Suyash Sharma,Chennai Super Kings,Kolkata Knight Riders,None,None
547,Varun Chakravarthy,not out,0,3,9,0,0,0.00,33,Kolkata Knight Riders,...,Abhijit Bengeri,Shakti Singh,Akash Singh,Ambati Rayudu,Venkatesh Iyer,Suyash Sharma,Chennai Super Kings,Kolkata Knight Riders,None,None

In [33]:
teambat1 = dfbat.loc[dfbat['bat_team'] == 'Delhi Capitals']
teambat2 = dfbat.loc[dfbat['bat_team'] == 'Sunrisers Hyderabad']
teambowl1 = dfbowl.loc[dfbowl['bowl_team'] == 'Sunrisers Hyderabad']
teambowl2 = dfbowl.loc[dfbowl['bowl_team'] == 'Delhi Capitals']
team1 = teambat1[['out','Date']]
team2 = teambat2[['out','Date']]

In [39]:
teambat1['bat_team'].iloc[1]

'Delhi Capitals'

In [10]:
teambat1['counter'].value_counts().count()

6

In [11]:
total_bowl_team1 = teambowl1.groupby(['Date']).sum()[['Runs','Wicket','Zeros','fours','sixs','Wide','Noball']]
total_bowl_team2 = teambowl2.groupby(['Date']).sum()[['Runs','Wicket','Zeros','fours','sixs','Wide','Noball']]

In [12]:
total_bat_team1 = teambat1.groupby(['Date']).sum()[['runs','fours','sixs']]
total_bat_team2 = teambat2.groupby(['Date']).sum()[['runs','fours','sixs']]

In [13]:
caught = team1.loc[team1['out'].str.startswith('c ')].groupby(['Date']).count()
caught.rename(columns={'out':'caught1'},inplace=True)
runout = team1.loc[team1['out'].str.startswith('run ')].groupby(['Date']).count()
runout.rename(columns={'out':'runout1'},inplace=True)
lbw = team1.loc[team1['out'].str.startswith('lbw ')].groupby(['Date']).count()
lbw.rename(columns={'out':'lbw1'},inplace=True)
bowled = team1.loc[team1['out'].str.startswith('b ')].groupby(['Date']).count()
bowled.rename(columns={'out':'bowled1'},inplace=True)
stumping = team1.loc[team1['out'].str.startswith('st ')].groupby(['Date']).count()
stumping.rename(columns={'out':'stumping1'},inplace=True)
notout = team1.loc[team1['out'].str.startswith('not ')].groupby(['Date']).count()
notout.rename(columns={'out':'notout1'},inplace=True)
df_out_team1 = pd.concat([notout,caught,bowled,runout,lbw,stumping],axis=1).fillna(0)

In [14]:
caught = team2.loc[team2['out'].str.startswith('c ')].groupby(['Date']).count()
caught.rename(columns={'out':'caught2'},inplace=True)
runout = team2.loc[team2['out'].str.startswith('run ')].groupby(['Date']).count()
runout.rename(columns={'out':'runout2'},inplace=True)
lbw = team2.loc[team2['out'].str.startswith('lbw ')].groupby(['Date']).count()
lbw.rename(columns={'out':'lbw2'},inplace=True)
bowled = team2.loc[team2['out'].str.startswith('b ')].groupby(['Date']).count()
bowled.rename(columns={'out':'bowled2'},inplace=True)
stumping = team2.loc[team2['out'].str.startswith('st ')].groupby(['Date']).count()
stumping.rename(columns={'out':'stumping2'},inplace=True)
notout = team2.loc[team2['out'].str.startswith('not ')].groupby(['Date']).count()
notout.rename(columns={'out':'notout2'},inplace=True)
df_out_team2 = pd.concat([notout,caught,bowled,runout,lbw,stumping],axis=1).fillna(0)

In [41]:
def ciinterval(df,a):
    for col in df.columns:
        mean = df[col].mean()
        std = df[col].std()
        n = len(df[col])
        se = std / np.sqrt(n)
        ci = stats.t.interval(a, n - 1, loc=mean, scale=se)
        print(f"Column {col} has a confidence interval of {ci}")

In [42]:
# total_bowl_team1
# total_bowl_team2
# total_bat_team1
# total_bat_team2
# df_out_team1
# # df_out_team2

In [43]:
ciinterval(total_bat_team1,0.95)

Column runs has a confidence interval of (125.2906089950963, 155.37605767157038)
Column fours has a confidence interval of (14.130040647622081, 18.86995935237792)
Column sixs has a confidence interval of (-0.13406255196612404, 5.1340625519661245)

In [44]:
ciinterval(df_out_team1,0.95)

Column notout1 has a confidence interval of (1.4049030272308767, 2.26176363943579)
Column caught1 has a confidence interval of (3.6725572475637116, 6.327442752436289)
Column bowled1 has a confidence interval of (0.8015365230626004, 2.865130143604066)
Column runout1 has a confidence interval of (-0.2085929010374264, 0.8752595677040931)
Column lbw1 has a confidence interval of (0.376680215874027, 1.9566531174593065)
Column stumping1 has a confidence interval of (-0.26176363943578995, 0.5950969727691233)

In [19]:
ciinterval(total_bowl_team1,0.95)

Column Runs has a confidence interval of (128.9898215631577, 202.67684510350898)
Column Wicket has a confidence interval of (2.7914739829789563, 7.875192683687709)
Column Zeros has a confidence interval of (34.26406303328459, 58.40260363338208)
Column fours has a confidence interval of (14.465729243159865, 20.2009374235068)
Column sixs has a confidence interval of (2.3694846572092017, 10.297182009457465)
Column Wide has a confidence interval of (0.8796579489894576, 5.787008717677209)
Column Noball has a confidence interval of (-0.5235272788715799, 1.1901939455382466)

In [20]:
# -------------------Second - innings--------------

In [21]:
ciinterval(total_bat_team2,0.95)

Column runs has a confidence interval of (110.33313523143636, 186.66686476856364)
Column fours has a confidence interval of (8.633808202473048, 21.36619179752695)
Column sixs has a confidence interval of (1.2392242178470139, 8.09410911548632)

In [22]:
ciinterval(df_out_team2,0.95)

Column notout2 has a confidence interval of (1.1247404322959071, 2.2085929010374263)
Column caught2 has a confidence interval of (1.9711316428576535, 6.695535023809013)
Column bowled2 has a confidence interval of (-0.3935043588386046, 2.060171025505271)
Column runout2 has a confidence interval of (-0.19019394553824664, 1.52352727887158)
Column lbw2 has a confidence interval of (-0.26176363943578995, 0.5950969727691233)
Column stumping2 has a confidence interval of (-0.07479957283968153, 1.0747995728396815)

In [23]:
ciinterval(total_bowl_team2,0.95)

Column Runs has a confidence interval of (141.96151762408613, 195.03848237591387)
Column Wicket has a confidence interval of (3.066293245192576, 7.600373421474091)
Column Zeros has a confidence interval of (33.91557576165337, 57.7510909050133)
Column fours has a confidence interval of (7.083535113758312, 19.583131552908355)
Column sixs has a confidence interval of (4.486451290850887, 12.846882042482445)
Column Wide has a confidence interval of (1.476605243453177, 7.523394756546823)
Column Noball has a confidence interval of (-0.19019394553824664, 1.52352727887158)

In [21]:
total_bat_team1.describe()

             runs      fours       sixs
count    6.000000   6.000000   6.000000
mean   172.833333  13.166667   9.166667
std     31.543092   2.228602   6.080022
min    136.000000  10.000000   1.000000
25%    152.250000  12.000000   5.250000
50%    166.000000  13.000000   9.500000
75%    193.250000  14.750000  13.000000
max    219.000000  16.000000  17.000000

In [22]:
df_out_team1.describe()

       notout1   caught1   bowled1   runout1      lbw1  stumping1
count      6.0  6.000000  6.000000  6.000000  6.000000   6.000000
mean       2.0  3.500000  1.166667  0.166667  0.333333   0.166667
std        0.0  2.073644  0.983192  0.408248  0.816497   0.408248
min        2.0  1.000000  0.000000  0.000000  0.000000   0.000000
25%        2.0  1.750000  0.250000  0.000000  0.000000   0.000000
50%        2.0  4.000000  1.500000  0.000000  0.000000   0.000000
75%        2.0  4.750000  2.000000  0.000000  0.000000   0.000000
max        2.0  6.000000  2.000000  1.000000  2.000000   1.000000

In [23]:
total_bowl_team1.describe()

,Runs,Wicket,Zeros,fours,sixs,Wide,Noball
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,174.500000,5.666667,41.166667,16.666667,7.333333,3.666667,0.833333
std,43.311661,2.250926,8.773065,3.011091,4.760952,2.338090,0.752773
min,118.000000,4.000000,30.000000,12.000000,0.000000,1.000000,0.000000
25%,141.000000,4.250000,35.000000,15.500000,4.750000,2.250000,0.250000
50%,188.000000,5.000000,40.500000,17.000000,8.000000,3.000000,1.000000
75%,196.750000,5.750000,48.250000,17.750000,10.500000,5.250000,1.000000
max,228.000000,10.000000,52.000000,21.000000,13.000000,7.000000,2.000000

In [133]:
print('95% confident',st.t.interval(confidence = 0.95,df=len(data)-1, loc=np.mean(data), scale=st.sem(data)))
print('99% confident',st.t.interval(confidence = 0.99,df=len(data)-1, loc=np.mean(data), scale=st.sem(data)))

95% confident (10.82789234874415, 15.505440984589182)
99% confident (9.4981304925549, 16.835202840778432)